/BancoDeDados.class
/Chamado.class
/ClienteEmpresa.class
/Empresa.class
/Pessoa.class
/RegistroChamado.class
/SistemaOperacional.class
/Status.class
/Tecnico.class
/TipoConexao.class
/TipoProblema.class
